# Continuous integration handling for Go
name: ci-go

on:
  pull_request:
    paths:
      - .github/workflows/ci-go.yml
      - .golangci.yml
      - go.mod
      - '**.go'

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
      - run: go mod download
      - uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # v7.0.0
  test:
    name: test (Go ${{ matrix.go-version }} / TF ${{ matrix.terraform }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.24', '1.23' ]
        terraform: ${{ fromJSON(vars.TF_VERSIONS_PROTOCOL_V5) }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ matrix.go-version }}
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod download
      - run: go test -v -coverprofile=coverage.out ./...
        env:
          TF_ACC: "1"
      - name: Remove wildcard suffix from TF version
        id: tf_version
        run: |
          orginal_version="${{ matrix.terraform }}"
          wildcard=".*"
          echo "version=${orginal_version%"$wildcard"}" >> "$GITHUB_OUTPUT"
      - run: go tool cover -html=coverage.out -o coverage.html
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: go-${{ matrix.go-version }}-terraform-${{ steps.tf_version.outputs.version }}-coverage
          path: coverage.html
