# Continuous integration handling for Go
name: ci-go

on:
  pull_request:
    paths:
      - .github/workflows/ci-go.yml
      - .golangci.yml
      - go.mod
      - '**.go'

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
      - run: go mod download
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
  test:
    name: test (Go ${{ matrix.go-version }} / TF ${{ matrix.terraform }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.25', '1.24' ]
        terraform: ['1.15.0-alpha20260204']
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod download
      - run: go test -v -coverprofile=coverage.out ./...
        env:
          TF_ACC: "1"
          TF_ACC_LOG: "TRACE"
          TF_LOG_PATH_MASK: "./%s.log"
      - name: Upload test logs on failure
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: go-${{ matrix.go-version }}-terraform-${{ matrix.terraform }}-test-logs
          path: "**/*.log"
          if-no-files-found: warn
      - name: Remove wildcard suffix from TF version
        id: tf_version
        run: |
          orginal_version="${{ matrix.terraform }}"
          wildcard=".*"
          echo "version=${orginal_version%"$wildcard"}" >> "$GITHUB_OUTPUT"
      - run: go tool cover -html=coverage.out -o coverage.html
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: go-${{ matrix.go-version }}-terraform-${{ steps.tf_version.outputs.version }}-coverage
          path: coverage.html
