# Continuous integration handling for Go
name: ci-go

on:
  pull_request:
    paths:
      - .github/workflows/ci-go.yml
      - .golangci.yml
      - go.mod
      - '**.go'

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
      - run: go mod download
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
  test:
    name: test (Go ${{ matrix.go-version }} / TF ${{ matrix.terraform }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.25', '1.24' ]
        terraform: ${{ fromJSON(vars.TF_VERSIONS_PROTOCOL_V5) }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - run: go mod download
      - run: go test -v -coverprofile=coverage.out ./...
        env:
          TF_ACC: "1"
      - name: Remove wildcard suffix from TF version
        id: tf_version
        run: |
          orginal_version="${{ matrix.terraform }}"
          wildcard=".*"
          echo "version=${orginal_version%"$wildcard"}" >> "$GITHUB_OUTPUT"
      - run: go tool cover -html=coverage.out -o coverage.html
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: go-${{ matrix.go-version }}-terraform-${{ steps.tf_version.outputs.version }}-coverage
          path: coverage.html
